#carousel-example-generic.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carousel-example-generic', data-slide-to='0')
    li(data-target='#carousel-example-generic', data-slide-to='1')
    li(data-target='#carousel-example-generic', data-slide-to='2')
  .carousel-inner
    .item.active
      img.slide-image(src='http://placehold.it/800x300', alt='')
    .item
      img.slide-image(src='http://placehold.it/800x300', alt='')
    .item
      img.slide-image(src='http://placehold.it/800x300', alt='')
  a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left
  a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
    span.glyphicon.glyphicon-chevron-right