doctype html
html(lang='en')
  include ./header.pug
  body
    // Navigation
    include ./topline.pug
    // Page Content
    .container
      .row
        .col-md-3
          include ./side.pug
        .col-md-9
          .row.carousel-holder
            .col-md-12
              include ./carousel
          .row
            include ./items.pug
            
    // /.container
    .container
      hr
      // Footer
      include ./footer.pug
    // /.container
    script(src='./bootstrap/bootstrap.js')
    script(src='./application/application.js')
